<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>
	<typeAliases>
 		<typeAlias alias="user"			type="com.wikipicki.service.domain.User"/>
 		<typeAlias alias="fran"			type="com.wikipicki.service.domain.Fran"/>
 		<typeAlias alias="freeBoard"	type="com.wikipicki.service.domain.FreeBoard"/>
 		<typeAlias alias="comment"		type="com.wikipicki.service.domain.Comment"/>
 		<typeAlias alias="search"		type="com.wikipicki.common.Search"/>
 		<typeAlias alias="program"		type="com.wikipicki.service.domain.Program"/>
 
 </typeAliases>
 
</configuration>